.menu {
  float: right;
  line-height: 4rem;

    span{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1.3rem;
    color: #606060;
    &.menu-icon {
      font-size: 1.7rem;
    }
    &:hover{
      cursor: pointer;
      color: $brand-color;
    }
  }
}